
@{
    ViewBag.Title = "Falling Ship";
}

<div id="container">
    <div id="col-ship">
        <div id="content"></div>
    </div>

    <div id="col-code">
        <div id="codeArea"></div>
        <div id="buttons">
            <a href="#" id="start" class="btn ">Start</a>
            <a href="#" id="pause" class="btn disabled">Pause</a>
            <a href="#" id="resume" class="btn disabled">Resume</a>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="/Scripts/phaser/phaser.min.js"></script>
    <script src="~/Scripts/CodeMirror/lib/codemirror.js"></script>
    <script src="~/Scripts/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="/Scripts/require.js" data-main="/Scripts/PageScripts/Phaser/config.js"></script>
}
