
@{
    ViewBag.Title = "Index";
}

<h2>Phaser</h2>

<div id="content">
    
</div>

<a href="#" id="pause" class="btn btn-primary">Pause</a>
<a href="#" id="resume" class="btn btn-primary">Resume</a>

@section pageScripts
{
    <script src="/Scripts/phaser/phaser.min.js"></script>
    <script src="/Scripts/require.js" data-main="/Scripts/PageScripts/Phaser/FallingShip.js"></script>
}
